[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-seed = "*"
psycopg2 = "*"
setuptools = "*"
django-countries = "*"
django-dotenv = "*"
requests = "*"
django-tailwind = {extras = ["reload"], version = "*"}
django-4-jet = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
